apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: shopping-web
  name: shopping-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shopping-web
  template:
    metadata:
      labels:
        app: shopping-web
    spec:
      containers:
      - image: zenaksacr.azurecr.io/shopping-web:13
        name: shopping-web
---
apiVersion: v1
kind: Service
metadata:
  name: shopping-web-svc
  labels:
    app: shopping-web
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 80
  selector:
    app: shopping-web
